<hr>

<div>
<center>
    EMSE 4571: Intro to Programming for Analytics (Spring 2022)

    <br>

    <i class="far fa-calendar-alt"></i> Thursdays |
    <i class="far fa-clock"></i> 12:45 - 3:15 PM EST |
    <a href="https://acadtech.gwu.edu/location?staging&id=351&selected=Tompkins&method=building"><i class="fa fa-map-marker-alt"></i> Tompkins 208</a> |
    <a href="https://www.jhelvy.com"><i class="fas fa-user"></i> Dr. John Paul Helveston</a> |
    <a href="mailto:jph@gwu.edu"><i class="fas fa-envelope"></i> jph@gwu.edu</a>

    <br>

    <a href="LICENSE.html">LICENSE: CC-BY-SA <i class="fab fa-creative-commons"></i><i class="fab fa-creative-commons-by"></i><i class="fab fa-creative-commons-sa"></i></a>
</center>
</div>

<!-- Add function to open links to external links in new tab, from: -->
<!-- https://yihui.name/en/2018/09/target-blank/ -->

<script src="js/external-link.js"></script>
